@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General Stuff */
html, body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #212121;
}

#main-body-container {
  min-height: 100%;
  margin-bottom: -1.4em;
  overflow: hidden;
}

#main-body-container::after {
  content: "";
  display: block;
  height: 1.4em;
}

.navbar-nav {
  padding-left: 5px;
  padding-right: 15px;
  font-family: 'Inter', sans-serif;;

}

 /* Nav button */
.navbar-btn {
  padding-right: 10px;
}

.navbar-brand{
  padding-left: 0px;
  padding-top: 0px;
}

.navbar-btn span{
  padding-left: 10px;
  font-weight: bold;
}

.smallbtn {
  background-color: #e42d42;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 8px;
  color: white;
}

.smallbtn:hover {
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 8px;
  color: #e42d42;
}

/*Hackclub button*/

.bluebutton {
  appearance: none;
  font-family: 'Inter', sans-serif;;
  color: #fff;
  background-color: #e42d42;
  background-image: radial-gradient(
    ellipse farthest-corner at top left,
    #2de4cf 6.25%,
    #2d9ee4 75%,
    #288ecd
  );
  display: inline-block;
  padding: 18px 24px;
  outline: none;
  border: none;
  font-size: 1.25rem;
  line-height: 1.125;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.2s, transform 0.2s cubic-bezier(0.375, 0, 0.625, 1);
  transform: scale(1);
  transform-origin: center left;
  border-radius: 999px;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.125);
}

.bluebutton:hover {
    border: none;
    transform: scale(1.0625);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.125), 0 9px 18px rgba(0, 0, 0, 0.125);
  }

  .redbutton {
    appearance: none;
    color: #fff;
    font-family: 'Inter', sans-serif;;
    background-color: #e42d42;
    background-image: radial-gradient(
      ellipse farthest-corner at top left,
      #ff8c37 6.25%,
      #ec3750
    );
    display: inline-block;
    padding: 18px 24px;
    outline: none;
    border: none;
    font-size: 1.25rem;
    line-height: 1.125;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: box-shadow 0.2s, transform 0.2s cubic-bezier(0.375, 0, 0.625, 1);
    transform: scale(1);
    transform-origin: center left;
    border-radius: 999px;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.125);
  }
  
.redbutton span {
  padding-left: 10px;
}

.redbutton i{
  font-size: 16px;
}

  .redbutton:hover {
      border: none;
      transform: scale(1.0625);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.125), 0 9px 18px rgba(0, 0, 0, 0.125);
    }


/*Nav button red*/
.navbutton {
  appearance: none;
  color: #fff;
  font-family: 'Inter', sans-serif;;
  background-color: #e42d42;
  background-image: radial-gradient(
    ellipse farthest-corner at top left,
    #ff8c37 6.25%,
    #ec3750
  );
  display: inline-block;
  padding: 18px 24px;
  outline: none;
  border: none;
  font-size: 10px;
  line-height: 1.125;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.2s, transform 0.2s cubic-bezier(0.375, 0, 0.625, 1);
  transform: scale(1);
  transform-origin: center left;
  border-radius: 999px;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.125);
}

.navbutton span {
padding-left: 10px;
}

.navdbutton i{
font-size: 10px;
}

.navbutton:hover {
    border: none;
    transform: scale(1.0625);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.125), 0 9px 18px rgba(0, 0, 0, 0.125);
  }


.navbar-fixed-top {
  padding-left: 10px;
}

.navbar-nav > li, .navbar-nav > li > a {
  transition: color 0.2s, background-color 0.2s;
}

.navbar-nav > li:hover {
  background: #131313;
}

.first-container {
  margin-top: 50px;
}

#gitHubNav {
  /* display: flex; */
  padding-right: 60px;
}

#gitHubNav i {
  padding-left: 10px;
  position: absolute;
  top: 13px;
  font-size: 20px;
}

.outer-container {
  position: relative;
}
  
.subtopic {
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}
  
p {
  text-align: center;
  color: black;
  max-width: 800px;
  min-width: 300px;
  margin: auto;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5em;
}
  
section {
  padding: 15px 0px;
  border-bottom: 1px solid rgb(226,226,226);
}

@media only screen and (max-width: 550px) {
  p:not(.talk-info) {
    text-align: justify;
  }
}
  
h1 {
  font-family: 'Inter', sans-serif;;
  margin: 0px;
  padding: 20px 0px 10px 0px;
  font-size: 3em;
  font-weight: 100;
  
}

.article {
  align-items: initial;
  padding-left: 20;
  margin-inline-start: 20px;
  color: white;
  font-family: 'Inter', sans-serif;
}


.article-title {
  color: #ec3750;
  font-size: 25px;
  font-weight: bold;
  padding-left: 20;
  margin-inline-start: 20px;
  font-family: 'Inter', sans-serif;
}
  
.separator {
  width: 70%;
  border-color: #999999;
}

.hcenter {
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.dark-button {
  background-color: #414141;
  color: white;
  border-color: #515151;
  font-weight: 100;
}

.dark-button:hover {
  background-color: white;
  color: #414141;
}

.light-button:hover {
  background-color: #414141;
  color: white;
}

.love-footer-dark {
  height: 1.4em;
  text-align: center;
  background-color: #111111;
  color: green;
  overflow: hidden;
}

button {
  margin: 10px 0px;
  font-weight: 100 !important;
  transition: background-color 0.5s, color 0.5s;
}

@media only screen and (max-width: 768px) {

#gitHubNav i {
  top: 9px;
  font-size: 18px;
}

}